.bannerLinks {
    cursor: pointer;
    list-style: none;
    padding: 15px 0px;
    font-size: var(--fs-600);
}

.bannerLinks:hover {
    color: var(--clr-hover-400);
}

.subheader {
    font-style: italic;
    color: var(--clr-neutral-400);
    font-weight: 200;
    line-break: strict;
    font-size: var(--fs-l);
}

.heroCard-con {
    display: flex;
    flex-direction: column;
    gap: 4em;
    padding: 40px 0px;
}

.upper-hero{
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
}

.lower-hero {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
}

.inner-hero-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-size: var(--fs-600);
    padding: 0px 25px;
}

.inner-hero-con > h1 {
    font-weight: 400;
    font-size: var(--fs-xl);
}

@media screen and (min-width: 592px) and (max-width: 1023px) {
    .upper-hero {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

    .lower-hero {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .groupPhoto {
        height: 30vh;
    }

    .mobile-h1 > h1 {
        font-size: var(--fs-l);
        align-self: center;
        padding-bottom: 20px;
    }

    .mobile-sublinks {
        padding: 15px;
    }
}

@media screen and (min-width: 1024px) {
    .upper-hero {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

    }

    .lower-hero {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;

    }

    .groupPhoto {
        height: 60vh;
    }

    .mobile-h1 > h1 {
        font-size: var(--fs-l);
        align-self: center;
        padding-bottom: 20px;
    }

    .mobile-sublinks {
        padding: 15px;
    }
}