.shopping-con {
    display: flex;
    justify-content: flex-end;
}

.shopping-sidebar-con {
    background-color: white;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    position: fixed;
    transition: 1s ease-in-out;
}

.hide-sidebar {
    right: 100%;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    position: fixed;
}

