@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');


:root {
  --photoSize-1000: 50vmax;
  --photoSize-800: 40vmax;
  --photoSize-600: 35vmax;
  --photoSize-500: 30vmax;
  --photoSize-400: 20vmax;
  --photoSize-300: 10vmax;
  --photoSize-200: 4vmax;

  --fs-xxl: 6rem;
  --fs-xl: 4rem;
  --fs-ml: 2.5rem;
  --fs-l: 2rem;
  --fs-800: 1.50rem;
  --fs-600: 1.25rem;
  --fs-400: 1rem;

  --fonfam-highlight: 'Allura', cursive;
  --fonfam-base: 'RaleWay', san-serif;

  --clr-hover-400: rgb(240, 205, 161);
  --clr-hover-800: rgb(225, 165, 90);
  --clr-neutral-900: hsl(0 0% 0%);
  --clr-neutral-400: hsl(0 0% 40%);
  --clr-neutral-100: hsl(0 0% 100%);
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  margin: 0;
}

.Link {
  color: black;
  font-family: var(--fonfam-base);
  text-decoration: none;
  transition: .1s ease-out;
  text-decoration: none;
  color: var(--clr-neutral-900);
  cursor: pointer;
}

.Link:hover {
  color: var(--clr-hover-400);
  transform: scale(1.01);
  cursor: pointer;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%; 
	font: inherit;
	vertical-align: baseline;
}

