.description-con {
    padding: 0px 50px;
}

.description-con > h1 {
    padding: 10px 0px;
    font-size: var(--fs-l);
    font-weight: 600;
}

.description-con {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: var(--fs-600);
    font-family: var(--fonfam-base);
}
