
.hover-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

.hovered-box-con {
    background-color: white;
    z-index: 2;
    height: fit-content;
    width: 100%;
    margin: auto 0;
    display: inline-flex;
    justify-content: center;
    padding: 20px;
    position: fixed;
    top: 58px;
}

.li-con {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.li-con > li {
    flex-grow: 1;
    list-style-type: none;
    justify-content: center;
    transition: .2s ease-in-out;
}
.li-con > li:hover {
    flex-grow: 1;
    list-style-type: none;
    justify-content: center;
    color: var(--clr-hover-800);
    position: relative;
    left: 5px;
    transform: scale(1.01);
    cursor: pointer;
}

.banner-picture-con {
    display: flex;
}

.banner-picture-con > div {
    display: flex;
    justify-content: space-evenly;
}

.inbed-banner-img {
    height: var(--photoSize-300);
}
