

.size-adjust-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    width: 80%;
}

.styleSpan {
    font-size: xx-small;
    color: darkgrey;
}

.size-icon-con {
    display: flex;
}

.size-icon-con > .icon {
    padding: 0px 10px;
    margin: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px -5px gray;
    border-radius: 5px;
    height: fit-content;
}

/* .picture-bed-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    max-width: 100%; 
    width: 80%;
    padding: 10px;
}

.picture-bed-three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    max-width: 100%; 
    width: 80%;
    padding: 10px;
} */

.picture-bed-four {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6px;
    max-width: 100%; 
    width: 80%;
    padding: 10px;
}

.picture-bed-five {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 6px;
    max-width: 100%;
    width: 80%;
    padding: 10px;
}

.picture-bed-six {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 6px;
    max-width: 100%;
    width: 80%; 
    padding: 10px;
}