

.shoppingCard-con {
    display: flex;
    flex-direction: column;
    width: calc((100% / var(--col-count)) - var(--gap) - 2px);
    height: auto;
}

.shopCard-img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.shopCard-details-con {
    padding: 10px;
}

.shopCard-details-inner-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}