

.sidebar-ul-con {
    list-style: none;
    font-family: var(--fonfam-base);
    font-size: var(--fs-l);
    padding: 0;
    margin: 0;
  }
  
  .sidebar-ul-con > li {
    padding: 10px;
    margin: 10px 0;
    transform: translateX(-10px);
    transition: transform .5s ease-in-out;
  }

  .sidebar-ul-con > li::before,
  .sidebar-ul-con > li::after {
    content: '';
    display: block;
    border: 1px solid black;
  }
  
  .sidebar-ul-con > li::before {
    margin-bottom: 4px;
  }
  
  .sidebar-ul-con > li::after {
    margin-top: 4px;
  }
  
  
  .sublinks {
    margin-top: 0;
    padding-left: 20px;
    list-style: none;
    font-size: var(--fs-600);
    transition: all 0.5s ease;
  }
  
  
  .sublinks > li {
    padding: 15px 0px;
    margin: 5px 0;
  }

  .main-links:hover .sublinks {
    opacity: 1;
  }

  .sidebar-link {
    display: flex;
    padding: 5px;
  }

  
