.slimCard-con {
    display: flex;
    justify-content: space-around;
    align-items: center;
    object-fit: cover;
    cursor: pointer;
}

.threeCardSlim {
    display: flex;
    justify-content: center;
    height: var(--photoSize-800);
    text-align: center;
    cursor: pointer;
}

.card-con {
    padding: 2px;
}

.slimCard-photo {
    display: flex;
    height: var(--photoSize-500);
    object-fit: cover;
    cursor: pointer;
}

.card-con:hover {
    text-decoration: underline;
}

.slimCard-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}