.hero-con {
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 30px;
    width: 100%;
    height: 100vh;
}

.hero-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: var(--fs-xxl);
    font-family: var(--fonfam-highlight);
    z-index: 2;
}

.hero-img {
    height: 100%;
    width: 100vw;
    object-fit: cover;
    z-index: 0;
    filter: blur(2px);
    filter: brightness(40%);
}

.wheel-con {
    display: flex;
    flex-direction: row-reverse;
}

.wheel {
    height: 40%;
    margin: 0;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    filter:contrast(5%)
}

@media screen and (min-width: 320px) and (max-width: 566px) {

    .hero-img {
        height: 100%;
        width: 100vw;
        object-fit: cover;
    }


    .hero-title {
        color: white;
        font-size: calc(100% + 3.812vw);
    }

    .wheel {
        height: 25%;
        opacity: .45;
    }
}

@media screen and (min-width: 567px) {

    .hero-img {
        height: 100%;
        width: 100vw;
        object-fit: cover;
    }


    .hero-title {
        color: white;
        font-size: calc(100% + 5.989vw);
    }

    .wheel {
        height: 35%;
        opacity: .45;
    }
}
