.slide-in {
    transform: translate(0) !important;
    opacity: 1 !important;
  }

.upper-hero {
    display: flex;
    transform: translateX(-3%);
    opacity: 0;
    transition: .5s ease-in-out;
    height: var(--photoSize-800);
}

.lower-hero {
    display: flex;
    flex-direction: row-reverse;
    transform: translate(3%);
    opacity: 0;
    transition: .5s ease-in-out;
    height: var(--photoSize-800);
}

.most-wanted {
    text-align: center;
    font-family: var(--fonfam-highlight);
    font-size: var(--fs-xl);
}

.between {
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0px 30px 0px;
}

.most-wanted-slimCard {
    display: flex;
    justify-content: space-around;
    font-family: var(--fonfam-highlight);
    font-size: var(--fs-l);
}

.tailored-slimCard {
    display: flex;
    justify-content: center;
    font-family: var(--fonfam-highlight);
    font-size: var(--fs-l);
}

@media screen and (max-width: 390px) {
    .upper-hero {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 120px;
    }

    .lower-hero {
        display: flex;
        flex-direction: column-reverse;
    }

    .most-wanted-slimCard {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .tailored-slimCard {
        display: grid;
        grid-template-columns: 1fr;
    }
}


@media screen and (max-width: 480px) {
    .most-wanted-slimCard {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .upper-hero {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 120px;
    }

    .lower-hero {
        display: flex;
        flex-direction: column-reverse;
    }

    .most-wanted-slimCard {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

