.footer-con {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(235, 235, 235);
    height: 60vh;
    font-size: var(--fs-600);
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    padding: 30px;
}

.tag-con {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    flex: 1.5;
    width: 100%;
    height: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    list-style: none;
    flex: 1;
}

.tag-con > h4 {
    margin-bottom: 15px;
}

.understated {
    font-size: var(--fs-400);
    margin: 0;
    font-weight: 300;
}

.tag-con > p {
    font-size: var(--fs-400);
    width: 70%;
}

.list > li {
    padding: 10px 0;
}

.icon-con {
    display: flex;
    align-items: flex-start;
    padding: 10px 0px;
}

.icon {
    padding: 10px 40px 10px 0px;
    cursor: pointer;
}

