
.banner-con {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 10px;
    height: 5vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: white;
    z-index: 4;
    top: 0px;
}

.title-con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}


.title {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    cursor: pointer;
    
}

.title-wheel {
    height: var(--photoSize-200);
    
}

.item {
    font-weight: 700;
    font-size: var(--fs-400);
    flex-grow: 1;
}

.item:hover {
    color: rgb(240, 205, 161);
}