

.shoppingCard-con {
    display: flex;
    flex-direction: column;
    width: calc((100% / var(--col-count)) - var(--gap) - 2px);
    height: auto;
    object-fit: cover;
    padding: 2px;
}

.shopCard-img {
    width: 100%;
    height: 100%;
}