.slimCard-con {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--fonfam-highlight);
    font-size: var(--fs-l);
    object-fit: cover;
}

.most-wanted-card-con {
    padding: 2px;
}

.tailored-card-con {
    padding: 4px;
    display: flex;
    flex-direction: column;
}

.slimCard-photo {
    display: flex;
    height: var(--photoSize-500);
    object-fit: cover;
}

.tailored-photo {
    max-height: 100%;
    width: var(--photoSize-400);
    height: 100%;
    cursor: pointer;
}

.slimCard-photo > span {
    font-size: var(--fs-600);
}

.card-con:hover {
    text-decoration: underline;
}

.slimCard-details {
    font-size: var(--fs-600);
    font-family: var(--fonfam-base);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

@media screen and (min-width: 320px) and (max-width: 425px) {

    /* .slimCard-photo {
        max-height: 100%;
        width: var(--photoSize-500);
        height: 100%;
        cursor: pointer;
    }

    .tailored-photo {
        max-height: 100%;
        width: var(--photoSize-800);
        height: 100%;
        cursor: pointer;
    }

    .tailored-card-con {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-height: 100%;
        width: var(--photoSize-800);
        height: 100%;
        cursor: pointer;
    } */

    .most-wanted {
        font-size: var(--fs-ml);
    }

    span {
        padding-left: 10px;
    }

    .slimCard-photo {
        height: 14em;
        width: 9em;
        object-fit: cover;
    }

    .most-wanted-slimCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tailored-slimCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tailored-photo {
        height: 14em;
        width: 9em;
        object-fit: cover;
    }

    
}

@media screen and (min-width: 426px) and (max-width: 768px) {

    /* .slimCard-photo {
        max-height: 100%;
        width: var(--photoSize-500);
        height: 100%;
        cursor: pointer;
    }

    .tailored-photo {
        max-height: 100%;
        width: var(--photoSize-800);
        height: 100%;
        cursor: pointer;
    }

    .tailored-card-con {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-height: 100%;
        width: var(--photoSize-800);
        height: 100%;
        cursor: pointer;
    } */

    .most-wanted {
        font-size: var(--fs-ml);
    }

    span {
        padding-left: 10px;
    }

    .slimCard-photo {
        height: 15em;
        width: 9em;
        object-fit: cover;
    }

    .most-wanted-slimCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tailored-slimCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tailored-photo {
        height: 15em;
        width: 9em;
        object-fit: cover;
    }

    
}