.slide-in {
    transform: translate(0) !important;
    opacity: 1 !important;
  }

.upper-hero {
    display: flex;
    transform: translateX(-3%);
    opacity: .2;
    transition: .5s ease-in-out;
}

.lower-hero {
    display: flex;
    flex-direction: row-reverse;
    transform: translate(3%);
    opacity: .2;
    transition: .5s ease-in-out;
}

.inner-hero-con > h1 {
    font-weight: 400;
    font-size: var(--fs-xl);
}

.titleStyle {
    font-style: italic;
}


.subheader {
    font-style: italic;
    width: 70%;
    color: var(--clr-neutral-400);
    font-weight: 200;
    line-break: strict;
    font-size: var(--fs-l);
    padding-bottom: 7px;
}

.inner-hero-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto;
    font-family: 'Raleway', sans-serif;
    font-size: var(--fs-600);
    padding: 0px 30px;
}

.groupPhoto {
    height: var(--photoSize-800);
    width: auto;
    display: inline-block;
}

.bannerLinks {
    padding: 15px 0px;
    /* color: grey; */
    transition: .2s ease-in-out;
    font-size: var(--fs-600);
}

.bannerLinks:hover {
    color: var(--clr-hover-400);
}

.most-wanted {
    text-align: center;
    font-family: var(--fonfam-highlight);
    font-size: var(--fs-xl);
}

.between {
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0px 30px 0px;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
  }