
.shopItem-con {
    display: flex;
    padding: 20px;
    margin-top: 100px;
    justify-content:space-between;
}

.photo-gallery-con {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

.suggest-con {
    height: var(--photoSize-800);
    overflow: hidden;
    font-family: var(--fonfam-base);
    font-size: var(--fs-l);
    padding: 50px;
}

.suggest-con-inner {
    display: flex;
    overflow: scroll;
    height: 100%;
}

.suggest-card-con {
    display: flex;
    flex-direction: row;
}

.big-picture-con {
    display: flex;
    justify-content: center;
    height: fit-content;
    
}

.big-picture {
    height: var(--photoSize-800);
    padding: 0px 1px;
    object-fit: cover;
    cursor: zoom-in;
}

.plus {
    scale: 1.5;
    cursor: zoom-out;
}

.side-picture-con {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.side-images {
    height: calc(var(--photoSize-800) / 4);
}

.size-con > span {
    padding-right: 20px;
}

.size-con {
    display: flex;
    justify-content: flex-start;
}

.image-wrapper {
    overflow: hidden;
}