.banner-con {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 1vw;
    height: 5vh;
    justify-content: center;
    align-items: center;
}

.title-wheel {
    height: var(--photoSize-200);
}

.title-con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}

.banner-img {
    height: var(--photoSize-500);
}


.hovered-box-con {
    background-color: white;
    z-index: 2;
    position: absolute;
    height: fit-content;
    width: 80vmax;
    top: -110px;
    margin: auto 0;
    display: inline-flex;
    justify-content: space-around;
    padding: 20px;
}

li {
    flex-grow: 1;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    display: flex;
    flex-direction: column;
}

.hover-wrapper {
    position: relative;
    display: flex;
    justify-content: center;

}

.li-con {
    padding: 10px;
}



.title {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
}

.item {
    padding: 2vw;
    transition: .2s ease-in-out;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    flex-grow: 1;
}

.item:hover {
    color: rgb(240, 205, 161);
}

.bannerAd {
    position: relative;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px;
    font-size: large;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    background: rgb(177,255,170);
    background: linear-gradient(167deg, rgba(177,255,170,1) 0%, rgba(255,255,170,1) 42%, rgba(255,255,170,1) 48%, rgba(195,198,230,1) 74%, rgba(170,174,255,1) 96%);
}

.close {
    display: flex;
    cursor: pointer;

}

.adStyle {
    padding-left: 30px;
    font-size: xx-large;
}

.tag-con {
    display: flex;
    
}